h1 {font-size: 200%;}

.class p {font-size:300%}

.inputWrapper {
    display:flex;
}

.inputWrapper input[type="text"] {
    margin:15px;
}

#formPersonaControl{
    display:flex;
    flex-direction:column;
    max-width:300px;
}

#tickmarks{
    display:flex;
    justify-content:space-between;
}

b ody{
  background-color: azure;
}

#formPersona{
    background-color: rgba(0, 0, 0, 0.575);
opacity: 25%;}

/* VALIDATION */

input:required:invalid {
  border-color: #c00000;
}

.blinkMe {
  background-color: rgba(255, 255, 0, 0.404);
  animation: blinker 0.5s linear 1;
}

@keyframes blinker {
  50% {
    opacity: 0.2;
  }
}

/* TOOLTIP */
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}