
* {
  font-family: Arial, Helvetica, sans-serif;

}
h1 {font-size: 200%;}

.class p {font-size:300%}

body{
  background-color: azure;
}

/* FORM */ 
#mainForm, .inputAllWrapper, .inputTechWrapper, .inputExtrasWrapper,  .headerAllWrapper, .headerTechnologyWrapper, .formWrapper, .results, .resultsWrapper {
    display:flex;
}

.headerAllWrapper, .headerTechnologyWrapper, .inputAllWrapper, .inputExtrasWrapper, .results, .resultsWrapper
{
  flex-direction: column;
}

.headerPicker, .headerResults, input[type="text"]{
    margin:15px;
}

#formPersonaControl{
    display:flex;
    flex-direction:column;
    width: 200px;
    margin:15px;

}

#tickmarks{
    display:flex;
    justify-content:space-between;
}

#formPersona{
display:flex;
}

.fader {
animation: fader;
animation-duration: 0.2s;
animation-timing-function: linear;
animation-iteration-count: 1;
}

@keyframes fader {
  0%   {opacity:0%}
  100%  {opacity: 100;}
}
/* VALIDATION */

input:required:invalid {
  border-color: #c00000;
}

.blinkMe {
  animation-play-state: paused;
  background-color: rgba(255, 255, 0, 0.404);
  animation: blinker 0.3s linear 1;
}

.paused {
  animation-play-state: paused;
}

@keyframes blinker {
  50% {opacity: 0.2;}
}


/* RESULTS */
.resultsWrapper
{background-color: rgba(0, 128, 128, 0.137);
min-width: 600px;
margin-left: 15px;}

.results{
margin-left: 15px;
}

/* TOOLTIP */
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text  */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}