
* {
  font-family: Arial, Helvetica, sans-serif;

}
h1 {font-size: 200%;
text-align: center;
margin:30px}

.class p {font-size:300%}

body{
  background-color: azure;
}

/* INFOTIP */
span>a{
  color: green;
  text-decoration: none;
  padding:0 3.5px 0 3.5px;
  cursor:help;
  border: 1px solid;
  border-radius: 100%;
  
}

span>a:hover{
  background-color:rgb(0, 128, 0, 0.75);
  color:white
}

.infotip{
  font-size:50%;
  vertical-align: super;
}

/* FORM */ 
#mainForm, .formWrapper{
  display:flex;
  height: 280px;
  min-width: 300px;
}

.formWrapper{
  flex-direction: column;
}

.formItemWrapper{
  display:flex;
  justify-content: space-between;
  align-items:center;
}

.headerPicker, .headerResults, input[type="text"]{
  margin:15px 5px 15px 5px;
  max-width: 150px;
}

#formPersonaControl{
  display:flex;
  flex-direction: column-reverse;
  align-content: space-between;
  align-items: stretch;
}

#tickmarks{
  font-size: 60%;
  display:flex;
  justify-content: space-between;
}

#inputPersona{
  min-width: 180px;
}

/* BUTTON */

button{
  width:300px;
  font-size: 130%;
  margin: 5px 0 5px 0;
}

.buttonWrapper{
  display:flex;
  flex-direction: column;
  margin: 5px;
}

.buttonMinor{
  font-size:100%
}

#buttonGenerate, #buttonRandom{
  color:white;
  background-color: rgba(0, 128, 0, 0.9);
}

#buttonGenerate:hover, #buttonRandom:hover{
  background-color:rgb(0, 128, 0, 0.75);
}

#buttonClear{
  display:none;
}

.disabled {
  background-color:grey !important;
}

/* VALIDATION */
input:required:invalid {
  border-color: #c00000;
}

.blinkMe {
  animation-play-state: paused;
  background-color: rgba(255, 255, 0, 0.404);
  animation: blinker 0.3s linear 1;
}

.paused {
  animation-play-state: paused;
}

@keyframes blinker {
  50% {opacity: 0.2;}
}

/* RESULTS */
.resultsWrapper
{background-color: rgba(0, 128, 128, 0.137);
min-width: 600px;
margin: 0 0 0 15px;
border: 5px;
border-style: solid;
border-color: rgba(0, 128, 128, 0.021);}

.resultsList{
  margin: 0px 15px 0px 15px;
}

td
{
  padding: 0px 15px 0px 0px;
}

.resultDetail{
  font-size:70%
}

.fader {
  animation: fader;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  }
  
  @keyframes fader {
    0%   {opacity:0%}
    100%  {opacity: 100;}
  }